@import '/styles/common/mixins';

.form {
  margin-top: 1rem;
}

.fields {
  width: calc(100vw * 10);

  margin: 0 0 1.5rem calc((9 * 100vw));
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 500px;
  height: 10rem;
  padding: 1.4rem;

  border: 2px solid #000;

  &:focus {
    border-bottom-width: 10px;
    outline: none;
  }
}

.error {
  color: var(--red);
  padding-top: 0.5rem;
}

.button {
  margin: 0 1.5rem;
}
