@import '/styles/common/mixins';

.entry {
  --list-padding: 5rem;
  --entry-margin-top: calc(var(--list-padding) * 1.2);

  &:first-of-type {
    margin-top: calc(var(--entry-margin-top) * 0.65);
  }

  &:not(:first-of-type) {
    margin-top: var(--entry-margin-top);
  }

  @include mq(tabletL) {
    --list-padding: 4.5rem;
    --entry-margin-top: calc(var(--list-padding) * 0.8);
    --entry-padding-left: calc(var(--list-padding) * 1.1);
  }

  @include mq(phoneM) {
    --entry-margin-top: calc(var(--list-padding) * 0.5);
    --entry-padding-left: 0;
  }
}

.title {
  --font-size: calc(var(--list-padding) * 0.3);
  --padding-top: calc(var(--list-padding) * 0.18);
  --padding-left: calc(var(--list-padding) * 1.4);

  padding: var(--padding-top) calc(var(--list-padding) * 0.8) 0 var(--padding-left);
  font-size: var(--font-size);

  @include mq(tabletL) {
    --padding-left: calc(var(--list-padding) * 1.1);
  }

  @include mq(phoneM) {
    --padding-left: 0;
  }

  &::after {
    @include empty_pseudo_element;

    display: flex;
    align-items: center;

    width: calc(var(--list-padding) * 0.5);
    height: calc(var(--padding-top) + var(--font-size) * 1.5);

    top: 0;
    right: 0;

    background: var(--arrow-down-icon) center no-repeat;
    background-size: contain;
  }

  .entry[open] > & {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.indexContainer {
  position: absolute;

  height: 100%;

  top: 0;
  left: 0;

  @include mq(phoneM) {
    @include visually_hidden;
  }
}

.index {
  position: sticky;

  width: calc(var(--list-padding) * 0.6);
  height: var(--list-padding);

  top: var(--nav-height);

  font-size: calc(var(--list-padding) * 0.5);
}

.list {
  counter-reset: singleIdea;

  padding: calc(var(--list-padding) * 0.5) 0 calc(var(--list-padding) * 0.3)
    calc(var(--list-padding) * 0.6);
  list-style: none;
}

.listItem {
  padding-bottom: 1rem;

  &::before {
    position: absolute;
    content: counter(singleIdea) '.';

    left: calc(var(--list-padding) * -0.5);
    top: 0;

    counter-increment: singleIdea;
  }
}
