@import '/styles/common/mixins';

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-weight: 700;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

  @include mq(mobileL) {
    font-size: 15px;
  }
}

*::selection {
  background-color: var(--purple);
  color: #fff;

  -webkit-text-fill-color: initial;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  touch-action: manipulation;

  overflow-x: hidden;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input,
textarea {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #fff;

  &::placeholder {
    color: var(--dark-gray);
  }
}

input,
textarea,
select {
  @include no_appearance;

  min-width: 0;
}

button {
  display: flex;
  @include no_appearance;

  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  position: relative;

  color: inherit;
  text-decoration: none;

  &::before {
    @include empty_pseudo_element;

    width: 100%;
    height: 0.4em;

    z-index: -1;

    bottom: 0;
    right: -0.5em;
    background-color: var(--purple-transparent-med);

    transform-origin: bottom;
    transform: scaleY(1);
    transition: transform var(--transition-duration-min);
  }

  &:hover {
    &::before {
      transform: scaleY(2);
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid var(--purple);
  }
}
