.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  white-space: nowrap;
}

.flex {
  display: flex;
}

.opacity {
  transition: opacity var(--transition-duration-min);

  &:hover {
    opacity: 0.7;
  }
}
