.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  white-space: nowrap;
}

.wrapper {
  width: min(86%, 800px);
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.directionColumn {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.opacity {
  transition: opacity var(--transition-duration-min);

  &:hover {
    opacity: 0.6;
  }

  &::before {
    content: none;
  }
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

.unstyledList {
  list-style: none;
  padding-inline-start: 0;
}

.textCenter {
  text-align: center;
}

.visibleOnNarrowerThanMobile {
  @include mq(mobileL, min) {
    display: none;
  }
}

.visibleOnWiderThanMobile {
  @include mq(mobileL) {
    display: none;
  }
}

.visibleOnNarrowerThanTablet {
  @include mq(tablet, min) {
    display: none;
  }
}

.visibleOnWiderThanTablet {
  @include mq(tablet) {
    display: none;
  }
}
