.visuallyHidden {
  @include visually_hidden;
}

.wrapper {
  width: min(86%, 800px);
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.directionColumn {
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.opacity {
  transition: opacity var(--transition-duration-min);

  &:hover {
    opacity: 0.6;
  }

  &::before {
    content: none;
  }
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

.unstyledList {
  list-style: none;
  padding-inline-start: 0;
}

.textCenter {
  text-align: center;
}

.visibleOnNarrowerThanMobile {
  @include mq(phoneL, min) {
    display: none;
  }
}

.visibleOnWiderThanMobile {
  @include mq(phoneL) {
    display: none;
  }
}

.visibleOnNarrowerThanTablet {
  @include mq(tablet, min) {
    display: none;
  }
}

.visibleOnWiderThanTablet {
  @include mq(tablet) {
    display: none;
  }
}

.marginBottomS {
  margin-bottom: 1rem;
}

.marginBottomM {
  margin-bottom: 2rem;
}

.marginBottomL {
  margin-bottom: 3rem;
}

.errorFontColor {
  color: var(--red);
}
