$breakpoints: (
  'mobileS': 350px,
  'mobileM': 420px,
  'mobileL': 576px,
  'tablet': 768px,
  'tabletL': 992px,
  'laptop': 1200px,
  'laptopL': 1441px,
  'desktop': 1620px,
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin no_appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin empty_pseudo_element($position: absolute) {
  content: '';
  position: $position;
}

@mixin full_size($unit: 0%) {
  width: 100 + $unit;
  height: 100 + $unit;
}
