$breakpoints: (
  'phoneS': 350px,
  'phoneM': 420px,
  'phoneL': 576px,
  'tablet': 768px,
  'tabletL': 992px,
  'laptop': 1200px,
  'laptopL': 1441px,
  'desktop': 1620px,
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq_b($min_width, $max_width) {
  @if map_has_key($breakpoints, $min_width) and map_has_key($breakpoints, $max_width) {
    $min_width: map_get($breakpoints, $min_width);
    $max_width: map_get($breakpoints, $max_width);

    @media only screen and (min-width: $min_width) and (max-width: $max_width) {
      @content;
    }
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin no_appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin empty_pseudo_element($position: absolute) {
  content: '';
  position: $position;
}

@mixin full_size($unit: 0%) {
  width: 100 + $unit;
  height: 100 + $unit;
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  white-space: nowrap;
}
