@import './mixins';

:root {
  --purple: #d3c5ea;
  --light-gray: #ecf0f3;
  --red: #d32f2f;

  --transition-duration-min: 200ms;

  --arrow-down-icon: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 128 128' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64 88a3.988 3.988 0 0 1-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0L64 78.344l37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40A3.988 3.988 0 0 1 64 88z'/%3E%3C/svg%3E");

  --nav-height: 4.6rem;

  @include mq(phoneL) {
    --nav-height: 4.3rem;
  }
}
