@import '/styles/common/mixins';

.nav {
  --nav-border-width: 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--nav-height);

  padding: 0 2.5rem;
  border-bottom: var(--nav-border-width) solid var(--light-gray);

  @include mq(phoneL) {
    padding: 0 7vw;
  }
}

.singleGroup,
.multipleGroup {
  margin-right: var(--group-space, 1rem);

  &::after {
    @include empty_pseudo_element(relative);
    display: inline-block;

    background-color: #000;
    margin-left: var(--group-space, 1rem);
  }
}

.singleGroup {
  --group-space: 2rem;

  @include mq(phoneL, min) {
    &::after {
      width: 2px;
      height: 1rem;
    }
  }

  @include mq(phoneL) {
    margin-bottom: var(--group-space);
  }
}

.multipleGroup {
  &::after {
    width: 30px;
    height: 2px;
  }
}
